<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726990383242-calgo2uk97opjua6h8oc7o99bhtog5ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726990383242-calgo2uk97opjua6h8oc7o99bhtog5ku</string>
	<key>API_KEY</key>
	<string>AIzaSyDYoXh0E5FwP_AkQZjje3C1Twugsl3C4sc</string>
	<key>GCM_SENDER_ID</key>
	<string>726990383242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cogainhatban</string>
	<key>PROJECT_ID</key>
	<string>cogainhatban-d5a40</string>
	<key>STORAGE_BUCKET</key>
	<string>cogainhatban-d5a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726990383242:ios:a8ede3269607625e05e573</string>
	<key>DATABASE_URL</key>
	<string>https://cogainhatban-d5a40.firebaseio.com</string>
</dict>
</plist>